<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>RegisterPage</title>
    </head>
    <body>
        <h1> Register:</h1>
        
        
        
<!--        <form action="/createuser" method="POST">
            <input type="text" name="username" required="required"/><br/>
            <input type="password" name="password" required="required"/><br/>
            <input type="submit" value="Register"/>           
        </form>-->

        <form action="#" th:action="@{/register/createuser}" th:object="${account}" method="POST">
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" th:field="*{username}" /></td>
                    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username must be between 3 and 15 characters long</td>
                </tr>
                <tr>
                    <td>Password </td>
                    <td><input type="password" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password must be between 5 and 15 characters long</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>



    </body>
</html>
