<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>RegisterPage</title>
    </head>
    <body>
        <h1> Register:</h1>
        
        <form action="/createuser" method="POST">
            <input type="text" name="username" required="required"/><br/>
            <input type="password" name="password" required="required"/><br/>
            <input type="submit" value="Register"/>           
        </form>





    </body>
</html>
