<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>user page</title>
        <meta charset="UTF-8"/>
        <!--        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    </head>
    <body>

        <h1 th:text="${userspage}"></h1> <br/>
        <a href="/">Home</a> <br/>
        <!--        <a href="hmm?">follow_unfollow </a>-->
        <!--        Followers: <span th:text="${followersSize}">followers</span>  <br/>-->


        <ol>
            <li th:each="kuva : ${images}">
                <a th:href="@{/image/{id}(id=${kuva.id})}">
                    <img th:src="@{/image/{id}/content(id=${kuva.id})}"></img><br/>
                    <span th:text="${kuva.likes}">likes</span> likes, <span th:text="${kuva.comments}">comments</span> comments
                </a>


            </li>
        </ol>
        <ol>
            <li th:each="user : ${users}">
                <a th:href="@{/user/{id}(id=${user.id})}" th:text="${user.username}"> name </a>
            </li>
        </ol>

    </body>
</html>