<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Image page</title>

    </head>
    <body>
        
        <h1  th:text="${title}"></h1>
        <a href="/home">Home</a> 
        <a th:href="@{/user/{id}/(id=${kuva.account.id})}"> <span th:text="${kuva.account.username}"></span>'s profile </a> 
        <br/>

        <img th:src="@{/image/{id}/content(id=${kuva.id})}"></img><br/>
        <strong th:text="${kuva.caption}"> </strong>
        <strong th:each="hashTag : ${hashTags}">
            <a th:href="@{/user/{id}/(id=${kuva.account.id})}" th:text="${hashTag.tag}"> </a>
        </strong>
       
        <form th:action="@{/image/{id}/like(id=${kuva.id})}" th:method="POST">
            <input type="submit" value="Like"/>
        </form>
        <span th:text="${numberOfLikes}"> </span> likes <br/>

        <div>
            Write a comment:<br/>
            <form th:action="@{/image/{id}/comment(id=${kuva.id})}" method="POST">
                <input type="text" name="comment"/><br/>
                <input type="submit" value="Send"/>           
            </form>
        </div>
        <ol>
            <li th:each="comment : ${comments}">

                <span th:text="${comment.content}">name</span>
                <br/>
                <a th:href="@{/user/{id}(id=${comment.account.id})}">
                    <span th:text="${comment.account.username}"></span>
                </a>
                <br/>
            </li>
        </ol>
    </body>
</html>
