<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Image page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </head>
    <body class = "container">

        <h1> Log's for Instabase</h1>
        <a href="/home">Home</a> 

        <ol class="list-style">
            <li th:each="log : ${logs}">
                <span th:text="${log.log}"> </span>
                <br/>
            </li>
        </ol>
    </body>
</html>
